<!DOCTYPE html>
<html>
<head>
	<title>Text and File Upload</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
        <div class="logo">
            <img src="../static/logo.png" alt="Logo">
        </div>
        <button class="menu-btn">&#9776;</button>
        <nav class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
	<h1>Text Summarizer</h1>
	<form id="my-form">
		<label for="text-input">Enter your text:</label>
		<textarea id="text-input" name="text-input" rows="4" cols="50"></textarea>
		<br><br><p>OR</p><br><br>
		<label for="file-input">Upload your raw text file:</label>
		<input type="file" id="file-input" name="file-input">
		<br><br>
		<div style="margin-left: 44%;">
			<button type="submit">Summarize</button>
		</div>
	</form>
	<br><br>
	<div id="result">
		<label for="text-output">Summarized Text: </label>
		<textarea id="text-output" name="text-output" rows="4" cols="50" readonly></textarea>
	</div>
	<footer>
        <p>&copy; 2023 Text Summarizer. All rights reserved.</p>
    </footer>
	<script>
		document.getElementById("my-form").addEventListener("submit", function(event) {
			event.preventDefault();
			var textInput = document.getElementById("text-input").value;
			var fileInput = document.getElementById("file-input").files[0];
			var formData = new FormData();
			formData.append("text-input", textInput);
			formData.append("file-input", fileInput);
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/upload");
			xhr.onload = function() {
				document.getElementById("text-output").value = xhr.responseText;
			};
			xhr.send(formData);
		});
		
        var menuBtn = document.querySelector(".menu-btn");
        var menu = document.querySelector(".menu");
        menuBtn.addEventListener("click", function() {
            menu.classList.toggle("show");
        });
    </script>
</body>
</html>
